<h1>Profile</h1>
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<br/>
<span><strong>Profile Picture</strong>: <img src="{{user.picture}}" alt=""></span>