<form action="" method="POST" enctype="multipart/form-data">
  
  <label for='input-content'>Content</label>
  <textarea name="content" id="input-content" placeholder="Place content"></textarea>
  

  <label for='input-pictureName'>Picture Name</label>
  <input type="text" id="input-pictureName" name="pictureName" placeholder="Picture name">

  <label for='input-picture'>Picture</label>
  <input type="file" accept="image/jpg,img/png" id="input-picture" name="picture">
  <button>Create Post</button>
</form>