<h1>Here we will be creating posts</h1>

<form action="/posts/create" method="POST" enctype="multipart/form-data">
    <label for="post">Post:</label>
    <textarea name="post" id="post" cols="30" rows="10" placeholder="Add your post here"></textarea>
    <br>
    <label for="pic">Add an image!</label>
    <input type="file" name="pic" id="pic">
    <br>
    <button>Submit</button>
</form>