<h1>Create your post</h1><br>
<form action="" method="POST" enctype="multipart/form-data">
  <label for="picture-input">Picture</label>
  <input id="picture-input" name="picture" type="file" /><br>

   <label for="picture-name">Picture Name</label>
  <input id="picture-name" name="pictureName" type="text" /><br>

  <label for="message-input">Message</label>
  <textarea name="message" id="message-input" placeholder="Message"></textarea><br><br>

  <button>Submit Post</button>
</form>