<h1>create</h1>

<form action="/post/create" method="POST" encyte="multipart/form-data">
<textarea name="text" placeholder="write your text"></textarea> 
<input type="file" name="images" multiple />
<button class='btn'>Publish</button>
</form>