<h1>Create Post</h1>

<form action="" method="POST" enctype="multipart/form-data">
  <label for="input-content">Content</label>
  <textarea id="input-content" name="content" placeholder="Write post here..." /></textarea>

  <label for="picName">Name legend</label>
  <input type="text" name="picName" id="picName" placeholder="The legend of your picture" />

  <label for="picPath"></label>
  <input type="file" id="picPath" name="picPath" accept="image">
  
  <button>Post</button>
</form>