<form action="" method="POST" enctype="multipart/form-data">
  <label for="content">Content</label>
  <textarea type="text" id="content" name="content" placeholder="Your Content..."></textarea>

  <label for="input-picture">Picture</label>
  <input type="file" accept="image/jpg,image/png" id="input-picture" name="picture"/>

  <button>Create Post</button>
</form>

