<form action="/post/create" method="POST" enctype="multipart/form-data">
  <label for="input-content">Content</label>
  <input type="text" id="input-name" name="content" placeholder="Content"/>
  <label for="input-picName">Pic name</label>
  <input type="text" id="input-picName" name="picName" placeholder="Picture Name"/>
  <input type="file" name="photo"/>
  <input type="submit" value="Upload"/>
</form>
