<h2>Create a new Post</h2>

<form action="/post/new" method="POST" enctype="multipart/form-data">
  <textarea name="content" maxlength="140" placeholder="Write your text here..." required></textarea>
  <input type="file" name="images" multiple />
  <button class="button-main">Publish</button>
</form>
