<h1>Individual Post</h1>

<div>
    <p>{{post.content}}</p>
    <img src={{post.picPath}} alt="this will be an image" width='20%'>
    <p>{{post.createdAt}}</p>
</div>

<h3>Comments</h3>

<h3>Add comment</h3>
 <label for="comment_form"></label>
<form action="/comment/create/{{post._id}}" name="comment_form" method="POST" enctype="multipart/form-data">
<textarea name="content" id="" cols="60" rows="1" ></textarea>
<input type="file" name="images" multiple />
<button>Submit comment</button>
</form> 
