<div class="single-post">
  {{#each this.images}}
    <img src={{this.resizedUrl}}>
  {{/each}}
  <p>{{ this.text }}</p>
  <small>{{ this.creationDate }}</small>
  <br />
  <small>{{ this.author.name }}</small>
</div>