<form action="/sign-up" method="POST" enctype="multipart/form-data">

  <label for="picture-input">Profile Picture</label><br>
  <input id="picture-input" name="picture" type="file" /><br><br><br>

  <label for="input-name">Name</label><br>
  <input type="text" id="input-name" name="name" placeholder="Your Name" /><br><br><br>

  <label for="input-email">Email</label><br>
  <input type="email" id="input-email" name="email" placeholder="Your Email" /><br><br><br>

  <label for="input-password">Password</label><br>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" /><br><br><br>
  <button>Sign Up</button>
</form>
