<h1>Add a new comment!</h1>

<form action="" method="POST" enctype="multipart/form-data">
   <label for="imageName">Image Name</label>
  <input type="text" id="imageName" name="imageName" placeholder="Image Name" />


  <label for="picture">Picture</label>
  <input type="file" accept="image/*" id="picture" name="picture"> 
  
  <label for="content">Content</label>
  <textarea name="content" id="content" placeholder="Your content"></textarea>
  <button>Create Comment</button>
</form>