{{#if user}}
    <h1>Create Post</h1>
    <form action="/posts/post" method="post" enctype="multipart/form-data">
        <textarea name="content" cols="30" rows="10"></textarea>
        <input type="file" name="image">
        <button>Post</button>
    </form>
{{else}}
    <h2>Sign in to post</h2>
{{/if}}

{{#each data.posts}}
    <div>
        <p>{{this.content}}</p>
    </div>
{{/each}}