<h1>Localização</h1>
<h2>Praias preferidas</h2>
<h3>Onda preferida</h3>
<h4>Tempo de surf</h4>

<div class="single-post">

    <img src="{{user.url}}" alt="image">
    <a href="/post/{{user.image._id}}/edit" class="btn">Edit Post</a>
</div>