<h1>Your profile info</h1>

<form action="/create" method="POST" enctype="multipart/form-data">
  <input type="file" name="bio">
  <input type="name" name="title">
  <button>Submit bio</button>
</form>