<h1>Add a new post!</h1>

<form action="" method="POST" enctype="multipart/form-data">
   <label for="pictureName">Picture Name</label>
  <input type="text" id="pictureName" name="pictureName" placeholder="Picture Name" />


  <label for="picture">Picture</label>
  <input type="file" accept="image/*" id="picture" name="picture"> 
  
  <label for="content">Content</label>
  <textarea name="content" id="content" placeholder="Your content"></textarea>
  <button>Create Post</button>
</form>